.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
  }
  
  .cart-item:hover {
    transform: scale(1.02);
  }
  
  .cart-item img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 16px;
  }
  
  .cart-item-details {
    flex-grow: 1;
  }
  
  .cart-item-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #ffffff;
  }
  
  .cart-item-price {
    font-size: 16px;
    margin-bottom: 8px;
    color: #a8a8a8;
  }
  
  .cart-item-quantity {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .cart-item-quantity button {
    background-color: #000000;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 8px;
    font-size: 16px;
    transition: background-color 0.2s ease-in-out;
  }
  
  .cart-item-quantity button:hover {
    background-color: #fc4322;
  }
  
  .cart-item-buttons button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 8px;
    transition: background-color 0.2s ease-in-out;
  }
  
  .cart-item-buttons button:last-child {
    background-color:  #fc4322;
  }
  
  .cart-item-buttons button:hover {
    filter: brightness(0.9);
  }
  